$ui-nav-icons-size: 50px;
$ui-nav-icon-radius: $ui-nav-icons-size / 2;
/* 17px is margin space so icon height + 17px is total top nav height */
$ui-nav-icons-yoffset: $ui-nav-icons-size + 17px;
$ui-nav-bigger-icon-size: $ui-nav-icons-size * 1.5;
$ui-nav-bigger-icon-radius: $ui-nav-bigger-icon-size / 2;
$ui-nav-double-icon-size: $ui-nav-icons-size * 2;

$ui-footer-height: 50px;
$movie-info-top-margin: 2vh;

$ag-main-font: Helvetica, sans-serif;


